<rd-loading>
</rd-loading>

<form name="rssForm">
    <div class="form-group  ">
        <label>Feed URL <span class="text-danger">* </span></label>
        <input type="text" maxlength="48" ng-model="fUrl" class="form-control" placeholder="Feed URL">
    </div>
</form>
<div class="card-block col-xs-12 p-x-3">
    <div class="phd-btn-container m-b-2">
        <button type="submit" ng-disabled="welcomeForm.$invalid" ng-click="save()" class="btn btn-default"><i class="fa fa-folder" aria-hidden="true"></i> Save</button>
    </div>
</div>