<!--<div ng-show="authData" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>-->
<rd-loading></rd-loading>
<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " ng-show="phd_error">
    <div class="phd-card">
        <p class="phd-callout callout-danger">
            <span ng-bind-html="phd_errorMsg | sanitize"></span>
        </p>
    </div>
</div>
<div class="row" ng-show="!phd_error">
    <div class="col-xs-12 col-md-4 ">
              <div class="phd-card card-block dash-board-min-height text-center">
            <p class="">Users</p>
            <span class="m-r-1">
            <input type="radio" ng-model="selectedTypeUsers" value="DUcount" ng-change="radioClick('DUcount')">
            <label for="inputText2" class="control-label">All</label>
            </span>
            <input type="radio" ng-model="selectedTypeUsers" value="SUcount" ng-change="radioClick('SUcount')">
            <label for="inputText2" class="control-label">Logged In*</label>

            <div isteven-multi-select input-model="modernBrowsers" output-model="outputBrowsers" button-label="icon name" item-label="icon name maker"
                tick-property="ticked" selection-mode="single" on-item-click="fClick( data )" style="margin-top: 14px;" class="text-right">
            </div>
        </div>
    </div>
    <!--<div class="col-xs-12 col-md-3 ">

  
    </div>-->
    <div class="col-xs-12 col-md-10 col-md-offset-1 ">
        <div class="col-xs-12 col-md-4 p-x-0">
            <div class="phd-card dash-board-min-height phd-flex middle widget">
                <div class="col-sm-4 col-xs-12">
                    <div class="widget-icon pull-left">
                        <i ng-class="impressionsOverview"></i>
                        <!--<i class="fa fa-times phd-overlay-icon" aria-hidden="true"></i>-->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 ">
                    <div class="title">
                        <h5>{{totalCount}}</h5>
                    </div>
                    <div class="comment capitalize">
                        <h5>{{tname}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4" ng-if="totalDUCount">
             <div class="phd-card dash-board-min-height phd-flex middle widget">
                <div class="col-sm-4 col-xs-12">
                    <div class="widget-icon pull-left">
                        <i class="fa fa-sign-out"></i>
                        <!--<i class="fa fa-times phd-overlay-icon" aria-hidden="true"></i>-->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 ">
                    <div class="title">
                        <h5>{{totalDUCount}}</h5>
                    </div>
                    <div class="comment capitalize">
                        <h5>All Users</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 p-x-0" ng-if="totalSUCount">
            <div class="phd-card dash-board-min-height phd-flex middle widget">
                <div class="col-sm-4 col-xs-12">
                    <div class="widget-icon pull-left">
                        <i class="fa fa-sign-in"></i>
                        <!--<i class="fa fa-times phd-overlay-icon" aria-hidden="true"></i>-->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 ">
                    <div class="title">
                        <h5>{{totalSUCount}}</h5>
                    </div>
                    <div class="comment capitalize">
                        <h5>Logged In Users</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="phd-card dash-board-min-height phd-flex middle widget">
            <div class="col-sm-4 col-xs-12">
                <div class="widget-icon pull-left">
                    <i class="fa fa-signal"></i>
                    <i class="fa fa-times phd-overlay-icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 ">
                <div class="title">
                    <h5>{{totalCount}}</h5>
                </div>
                <div class="comment">
                    <h5>Total Offline Views</h5>
                </div>
            </div>
        </div>-->

    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="phd-card">
            <!--<nvd3 options="options" data="data"></nvd3>-->
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
                chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
        </div>
    </div>
</div>