<div class=" row phd-card p-a-0 m-y-0 --no-b-b-r" id="welcomeModal">
    <!--<span class="close" ng-click="cancel()"><i class="fa fa-times black" aria-hidden="true"></i></span>-->
    <form class="card-block m-x-3 p-t-3 ">
        <div uib-collapse="m0" class="m-b-3">
            <div class="form-group p-t-1">
                <h4 class="m-b-3" ng-if="!reseller">
                    Welcome to Widely! These are the features you'll avail after quick setup.</h4>
                <h4 class="m-b-3" ng-if="reseller">
                    Welcome! These are the features you'll avail after quick setup.</h4>
                <div class="col-xs-6">
                    <div>
                        <span class="fa fa-circle"></span>
                        <label>Installable Web App</label>
                    </div>
                    <div>
                        <span class="fa fa-circle"></span>
                        <label>Offline Capabilties</label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div>
                        <span class="fa fa-circle"></span>
                        <label>Push Notifications</label>
                    </div>
                    <div>
                        <span class="fa fa-circle"></span>
                        <label>Customization</label>
                    </div>
                </div>
            </div>
            <div class="text-center col-xs-12 m-t-1 m-b-3">
                <button type="button" class="btn btn--min-width btn--brandBlue" ng-click="m0=!m0">Next</button>
            </div>
        </div>
        <div uib-collapse="!m0||m1" class="m-b-3">
            <p>Fill your application settings, to get your Progressive Web App in 15 minutes!</p>
            <div class="text-center">
                <a type="button" class="btn btn--min-width btn--brandBlue" href="/tool/#/dashboard/plug-and-play" ng-click="cancel()">App Settings</a>
            </div>
        </div>
    </form>
</div>
<div class="card-footer col-xs-12 p-a-0">
    <a class="white pn-click-cursor" ng-click="cancel()">
        <div class="col-xs-12 brandColorRed text-center">
            <h6 class="white">Close</h6>
        </div>
    </a>
    <!--<a class="white pn-click-cursor" href="/tool/#/dashboard" ng-click="cancel()">
        <div class="col-xs-6 blue text-center">
            <h6 class="white">Back To Home</h6>
        </div>
    </a>-->
</div>
<span></span>
</div>