<div class="row header">

		<div class="user pull-right">
			<div class="item dropdown" uib-dropdown>
				<a href="#/admin" class="dropdown-toggle" uib-dropdown-toggle>
					<p class="phd-user-name"><span class="fa fa-user"></span><span class="hidden-xs">&nbsp;&nbsp;{{username}} </span><span class="fa fa-caret-down"
							aria-hidden="true"></span></p>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li class="link">
						<a href="#" ng-click="logout()">
							<span class="fa fa-sign-out"></span>&nbsp;&nbsp;Logout
						</a>
					</li>
				</ul>
			</div>
            <span class="hidden-xs">&nbsp;&nbsp;{{companyName}} </span>
            
		</div>
	</div>
</div>
