<div ng-show="authData" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <rd-loading></rd-loading>
    <div ui-view="sidebar"></div>
    <div ui-view="headbar"></div>
    <div id="content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-2 col-md-offset-4">
                    <a target="_new" href={{cRegister}}>Add Client</a>
                </div>
            </div>
             <br/>
            <div class="row">
                <div ng-class="classContainer">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>SNo</th>
                                        <th>Email</th>
                                        <th>Hash Id</th>
                                    </tr>
                                    <tr ng-repeat="snap in snapdata">
                                        <td>{{snap.position}}</td>
                                        <td>{{snap.email}}</td>
                                        <td>{{snap.hashId}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-4">
                        <p class="phd-callout callout-danger" ng-if="!data">
                            <span ng-bind-html="msg | sanitize"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>