<div id="sidebar-wrapper">
  <ul class="sidebar  ng-cloak">
    <li class="sidebar-main">
      <a ng-click="toggleSidebar()">
        <img src="assets/img/sm-logo.png" class="logo-ninja" alt="Widely Progressive Web App tool"></img>
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <li class="sidebar-list">
    </li>
    <li class="sidebar-list">
      <a href="#/admin">Home <span class=" menu-icon fa fa-home" aria-hidden="true"></span></a>
    </li>

  </ul>
  <div class="sidebar-footer">
    <a href="/support" target="_blank" title="Support/Help">
      <i class="fa fa-question-circle fa-2x" aria-hidden="true" style="color:white"></i>
</a>
</div>
</div>