<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Deactivate Your Account</h3>
</div>
<div class="modal-body">
    <p>Are you sure, you want to deactivate your account? You won't be able to activate it by yourself.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()"><i class="fa fa-check" aria-hidden="true"></i> Deactivate</button>
    <button class="btn btn-default" type="button" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i> No Don't Deactivate</button>
</div>