<div class="modal-header">
    <h3 class="modal-title">
        <span ng-show="isUpgrade"> 
        <i class="fa fa-arrow-up" ></i> Upgrade
        </span>
        <snan ng-show="!isUpgrade">
            <i class="fa fa-arrow-down"></i> Downgrade
        </snan>
    </h3>
</div>
<div class="modal-body">
    <p>{{msg1}}<span class="imp">{{packageName}}</span>{{msg2}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">
        <span ng-show="isUpgrade">
            <i class="fa fa-arrow-up" ></i> Upgrade
        </span>
        <span ng-show="!isUpgrade">
            <i class="fa fa-arrow-down" ></i> Downgrade
        </span>
    </button>
    <button class="btn btn-default" type="button" ng-click="cancel()">
      <i class="fa fa-times" aria-hidden="true"></i>   No Don't 
    <span ng-show="isUpgrade">Upgrade</span>
     <span ng-show="!isUpgrade">Downgrade</span>
     </button>
</div>