<rd-loading></rd-loading>

<div class=" row phd-card p-a-0 m-y-0 --no-b-b-r" id="welcomeModal">
    <!--<span class="close" ng-click="cancel()"><i class="fa fa-times black" aria-hidden="true"></i></span>-->
    <form class="card-block m-x-3 p-t-3 ">
        <div class="m-b-3">
            <div class="form-group p-t-1">
                <p class="phd-callout callout-danger col-md-12 ng-scope m-b-2" ng-if="phError">
                    <span ng-bind-html="errMsg | sanitize"></span>
                </p>
                <h4 class="m-b-2 m-t-1">Enter Your website <span style="float:right; color:#fd586f;" uib-tooltip="{{domainTip}}" class="glyphicon glyphicon-question-sign"></span></h4>
                <input type="url" class="form-control" ng-model="appSetting.domain.modal" placeholder="https://www.example.com" pattern="https://.+"
                    my-enter="getStarted()" required>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn--min-width btn--brandBlue" ng-click="getStarted()" ng-disabled="!appSetting.domain.modal">Get Started</button>
            </div>
            <br>
            <div class="m-b-1">
                <span style="float:right; color: #000000;">Note: To get prefilled settings, please provide https website address. To test on local, you can leave it blank.</span>
            </div>
        </div>
    </form>
</div>
<div class="card-footer col-xs-12 p-a-0">
    <a class="white pn-click-cursor" ng-click="cancel(appSetting)">
        <div class="col-xs-12 brandColorRed text-center">
            <h6 class="white">Close</h6>
        </div>
    </a>
</div>
<span></span>
</div>