<rd-loading>
</rd-loading>


<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
    <div class="phd-card">
        <p class="phd-callout callout-danger">
            <span ng-bind-html="phd_errorMsg | sanitize"></span>
        </p>
    </div>
</div>
<div class="row" id="accountInfo" ng-show="!phd_error">
    <div class="row">
        <div class=" col-lg-10 col-lg-offset-1">
            <div class="phd-card card">
                <div class="card-header text-center">
                    <h4>Account Information</h4>
                </div>
                <div class="card-block row">
                    <div class="col-xs-12 col-md-12">
                        <div class="card--minheight p-a-0">
                            <div class="phd-card-title brandBlack p-a-1" ng-hide="true">
                                <h5 class="white">Type 1</h5>
                            </div>
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td><b>API Key</b></td>
                                            <td><span id="api">
                                                {{data.api_key}}
                                                </span>
                                                <button ng-if="data.api_key" uib-tooltip="Copy" tooltip-placement="right" class="btn btn-default btn-sm pull-right" ngclipboard
                                                    data-clipboard-target="#api">
                                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Hash Id</b></td>
                                            <td>
                                                <span id="hashId">{{data.hashId}}</span>
                                                <button ng-if="data.hashId" uib-tooltip="Copy" tooltip-placement="right" class="btn btn-default btn-sm pull-right" ngclipboard
                                                    data-clipboard-target="#hashId">
                                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                </button>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><b>Project No.</b></td>
                                            <td><span id="pNo">{{data.project_no}}</span>
                                                <button ng-if="data.project_no" uib-tooltip="Copy" tooltip-placement="right" class="btn btn-default btn-sm pull-right" ngclipboard
                                                    data-clipboard-target="#pNo">
                                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><b>Rest Token</b></td>
                                            <td>
                                                <span id="authToken">{{data.authToken}}</span>
                                                <button ng-if="data.hashId" uib-tooltip="Copy" tooltip-placement="right" class="btn btn-default btn-sm pull-right" ngclipboard
                                                    data-clipboard-target="#authToken">
                                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                                </button>
                                            </td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="phd-btn-container" uib-collapse="!appSettingFilled">
                            <!--<button type="submit" ng-click="download()" class="btn btn-default" ng-show="appSettingFilled"><i class="fa fa-download" aria-hidden="true" ></i> Download Manifest</button>-->
                            <a href="/tool/#/dashboard/plug-and-play">Edit Details</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>