<!--<div ng-show="authData" ng-class="{'open': toggle}" ng-cloak>-->
    <div id="sidebar-wrapper">
        <ul class="sidebar  ng-cloak">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">
            Widely <img src="assets/img/logo.svg" class="logo-ninja" alt="Widely Progressive Web Application"></img>
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
            </li>
            <li class="sidebar-title"></li>

        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-4">
                <a href="#" target="_blank">
            About
          </a>
            </div>
            <div class="col-xs-4">
                <a href="#/support">
            Support
          </a>
            </div>
        </div>
    </div>
    <div id="content-wrapper">
        <div class="page-content">
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <p class="phd-user-name"><span class="fa fa-user"></span><span class="hidden-xs">&nbsp;&nbsp;{{username}}</span></p>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#" ng-click="logout()">
                                        <span class="fa fa-sign-out"></span>&nbsp;&nbsp;Logout
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="meta">
                        <div class="breadcrumb-links capitalize">
                            Home / {{viewState}}
                        </div>
                    </div>
                </div>
            </div>
            <rd-loading></rd-loading>
            <div class="col-lg-10 col-lg-offset-1">
                <div class="phd-card">
                    <!--<div class="list-group" >-->
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>

                                <th>HasId</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th></th>
                            </tr>
                            <tr ng-repeat="item in users">

                                <td>{{item.hashId}}</td>
                                <td>{{item.$id}}</td>
                                <td>{{item.role}}</td>
                                <td><a href="/tool/#/user-details?hashId={{item.hashId}}">Details</a></td>
                            </tr>

                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>