<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
  <div class="phd-card">
    <p class="phd-callout callout-danger">
      <span ng-bind-html="phd_errorMsg | sanitize"></span>
    </p>
  </div>
</div>
<div class="row" ng-show="!phd_error">
  <div class="">
    <div class="text-center">
      <p ng-show="result " ng-bind="msg " class="phd-callout callout-success "></p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="phd-card card-lg">
        <div class="phd-card card card-sm">
          <div class="card-header text-center m-b-1">
            <h4>Notification</h4>
            <p class="phd-card-subtext"></p>
          </div>
        </div>
        <div class="card-block" uib-collapse="next">
          <form name="notificationForm" class="p-x-3 m-t-3">
            <div class="form-group ">
              <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_notification_type}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>                           
              <label>Type</label>
              <select class="form-control" ng-required="true" ng-model="notification.type">
            <option value="">--Select--</option>
            <option value="popUp">PopUp</option>
            <option value="bell">Bell</option>
            <option value="none">None</option>
        </select>
            </div>
            <div class="form-group" ng-if="notification.type =='popUp'" ng-model="notification.popUp">
              <div class="form-group">
                <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_notification_popUpContent}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>                           
                <label>PopUp Content</label>
                <input type="text" ng-model="notification.popUp.content" class="form-control " ng-required="notification.type =='popUp'"
                  placeholder="Content to be displayed in popup." required="required">
              </div>
              <div class="form-group">
                <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_notification_popUpPstn}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>              
                <label>PopUp Position</label>
                <select class="form-control" ng-required="notification.type =='popUp'" ng-model="notification.popUp.position">
            <option value="">--Select--</option>
            <option value="bottom-left">Bottom-left</option>
            <option value="bottom-middle">Bottom-middle</option>
            <option value="bottom-right">Bottom-right</option>
            <option value="top-left">Top-left</option>
            <option value="top-middle">Top-middle</option>
            <option value="top-right">Top-right</option>
          </select>
              </div>
              <div class="form-group">
                <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_popUpTheme}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>               
                <label>Customize theme</label><span></span>
                <button type="button" class="btn" ng-model="notification.popUp.theme" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"
                  ng-class="{'btn--green':notification.popUp.theme,'btn-danger':!notification.popUp.theme}">
          <span ng-if="notification.popUp.theme">Yes</span><span ng-if="!notification.popUp.theme">No</span>
        </button>
              </div>
              <div ng-if="notification.popUp.theme">
                <div class="form-group">
                  <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_popUpBgColor}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                  <label>PopUp Background Color</label>
                  <input type="text" ng-model="notification.popUp.bgColor" class="form-control " ng-required="notification.popUp.theme" placeholder="PopUp background color. Example #fafafa">
                </div>
                <div class="form-group">
                  <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_popUpBtnColor}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                  <label>PopUp Button Color</label>
                  <input type="text" ng-model="notification.popUp.btnColor" class="form-control " ng-required="notification.popUp.theme" placeholder="PopUp button color. Example #fafafa">
                </div>
                <div class="form-group">
                  <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_popUpFont}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                  <label>PopUp Font </label>
                  <input type="text" ng-model="notification.popUp.font" class="form-control " ng-required="notification.popUp.theme" placeholder="PopUp font. Example Arial">
                </div>
                <div class="form-group">
                  <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_popUpFontColor}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                  <label>PopUp Font Color</label>
                  <input type="text" ng-model="notification.popUp.fntColor" class="form-control " ng-required="notification.popUp.theme" placeholder="PopUp font color. Example #fafafa">
                </div>
              </div>
            </div>
            <div class="form-group" ng-if="notification.type =='bell'" ng-model="notification.bell">
              <div class="form-group">
                <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_notification_bellColor}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                <label>Bell Color</label>
                <input type="text" ng-model="notification.bell.color" class="form-control " ng-required="notification.type =='bell'" placeholder="Bell color. Example #fafafa">
              </div>
              <div class="form-group">
                <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_notification_bellPstn}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                <label>Bell Position</label>
                <select class="form-control" ng-required="notification.type =='bell'" ng-model="notification.bell.position">
            <option value="">--Select--</option>
            <option value="bottom-left">Bottom-left</option>
            <option value="bottom-right">Bottom-right</option>
            <option value="top-left">Top-left</option>
            <option value="top-right">Top-right</option>
          </select>
              </div>
            </div>
          </form>
        </div>
        <div class="text-right">
          <button type="button" title="Next" ng-click="next=!next;next1=!next1" class="btn btn-default">
          <i class="fa fa-arrows-v" aria-hidden="true"></i>
      </button>
        </div>
        <div class="phd-card card card-sm">
          <div class="card-header text-center m-b-1">
            <h4>Offline</h4>
            <p class="phd-card-subtext"></p>
          </div>
        </div>
        <div class="card-block" uib-collapse="next1">
          <form name="offlineForm" class="p-x-3 m-t-3">
            <div class="form-group ">
              <label>Let user know they are working offline</label><span></span>
              <button type="button" class="btn" ng-model="offline.enable" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"
                ng-class="{'btn--green':offline.enable,'btn-danger':!offline.enable}">
          <span ng-if="offline.enable">Yes</span><span ng-if="!offline.enable">No</span>
        </button>
            </div>
            <div ng-if="offline.enable">
              <div class="form-group">
                <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_offlineContent}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                <label>Offline PopUp Content</label>
                <input type="text" ng-model="offline.popUp.content" class="form-control " ng-required="offline.enable" placeholder="Content in offline popup.">
              </div>
              <div class="form-group">
                <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_notification_offPopUpPstn}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                <label>PopUp Position</label>
                <select class="form-control" ng-required="offline.enable" ng-model="offline.popUp.position">
            <option value="">--Select--</option>
            <option value="bottom-left">Bottom-left</option>
            <option value="bottom-middle">Bottom-middle</option>
            <option value="bottom-right">Bottom-right</option>
            <option value="top-left">Top-left</option>
            <option value="top-middle">Top-middle</option>
            <option value="top-right">Top-right</option>
          </select>
              </div>
              <div class="form-group" ng-if="notification.type !='popUp'">
                <div class="form-group">
                  <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_offpopUpBgColor}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                  <label>PopUp Background Color</label>
                  <input type="text" ng-model="notification.default.bgColor" class="form-control " ng-required="offline.enable" placeholder="PopUp background color. Example #fafafa">
                </div>
                <div class="form-group">
                  <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_offpopUpFont}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                  <label>PopUp Font </label>
                  <input type="text" ng-model="notification.default.font" class="form-control " ng-required="offline.enable" placeholder="PopUp font. Example Arial">
                </div>
                <div class="form-group">
                  <span style="float:right; color:#fd586f;" uib-tooltip="{{customize_offpopUpFontColor}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                  <label>PopUp Font Color</label>
                  <input type="text" ng-model="notification.default.fntColor" class="form-control " ng-required="offline.enable" placeholder="PopUp font color. Example #fafafa">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-block">
          <div class="text-right">
            <button type="button" title="Next" ng-click="next1=!next1;next=!next" class="btn btn-default">
               <i class="fa fa-arrows-v" aria-hidden="true"></i>
        </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="phd-btn-container m-y-3">
        <button type="submit " ng-disabled="notificationForm.$invalid || offlineForm.$invalid" ng-click="save() " class="btn btn-default "><i class="fa fa-sign-in " aria-hidden="true "></i>&nbspSave</button>
      </div>
    </div>
  </div>
</div>