<rd-loading></rd-loading>
<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
	<div class="phd-card">
		<p class="phd-callout callout-danger">
			<span ng-bind-html="phd_errorMsg | sanitize"></span>
		</p>
	</div>
</div>
<div ng-show="!phd_error ">
	<div ng-show="showView">
		<div class="row" ng-show="newUser">
			<div class="col-xs-12">
				<div class="phd-card">
					<div class="phd-card-title">
						<h5><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Action Required</h5>
					</div>
					<div class="phd-card-body">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
							<p class="text-center" ng-if="!reseller">
                                Please go through <a href="/support/#/docs/quick-guide">Quick Start</a> &amp; start filling <a href="/tool/#/dashboard/plug-and-play">application settings</a> to make your web app a progressive web app in 15 minutes.</p>
							<p class="text-center" ng-if="reseller">
                                Start filling <a href="/tool/#/dashboard/plug-and-play">application settings</a> to make your web app a progressive web app in 15 minutes.</p>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-hide="newUser">

			<div class="col-lg-7">
				<div class="phd-card row">
					<div class="col-lg-6 col-md-6 col-xs-12 p-a-0">
						<rd-widget>
							<rd-widget-body classes="phd-card-gray dash-board-min-height-home m-a-1-ph  p-a-0">
								<div class="row dash-board-min-height-home phd-flex middle">
									<div class="col-sm-4 col-xs-12">
										<div class="widget-icon pull-left">
											<i class="fa fa-users"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-8 ">
										<div class="title">{{userInsights.totalDU}}</div>
										<div class="comment">Users</div>
									</div>
								</div>
							</rd-widget-body>
						</rd-widget>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-12 p-a-0">
						<rd-widget>
							<rd-widget-body classes="phd-card-gray dash-board-min-height-home m-a-1-ph  p-a-0">
								<div class="row dash-board-min-height-home phd-flex middle">
									<div class="col-sm-4 col-xs-12">
										<div class="widget-icon  pull-left">
											<i class="fa fa-bullhorn"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-8">
										<div class="title">{{userInsights.campaignCount}}</div>
										<div class="comment">Campaigns</div>
									</div>
								</div>
							</rd-widget-body>
						</rd-widget>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-12 p-a-0">
						<rd-widget>
							<rd-widget-body classes="phd-card-gray dash-board-min-height-home m-a-1-ph  p-a-0">
								<div class="row dash-board-min-height-home phd-flex middle">
									<div class="col-sm-4 col-xs-12">
										<div class="widget-icon  pull-left">
											<i class="fa fa-download" aria-hidden="true"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-8">
										<div class="title">{{userInsights.installedCount}}</div>
										<div class="comment">Installs</div>
									</div>
								</div>
							</rd-widget-body>
						</rd-widget>
					</div>

					<div class="col-lg-6 col-md-6 col-xs-12 p-a-0">
						<rd-widget>
							<rd-widget-body classes="phd-card-gray dash-board-min-height-home m-a-1-ph  p-a-0">
								<div class="row dash-board-min-height-home phd-flex middle">
									<div class=" col-sm-4 col-xs-12">
										<div class="widget-icon ">
											<i class="fa fa-user-plus" aria-hidden="true"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-8">
										<div class="title">{{userInsights.subscribersCount}}</div>
										<div class="comment">Subscribers</div>
									</div>
								</div>
							</rd-widget-body>
						</rd-widget>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-12 p-a-0">
						<rd-widget>
							<rd-widget-body classes="phd-card-gray dash-board-min-height-home m-a-1-ph  p-a-0">
								<div class="row dash-board-min-height-home phd-flex middle">
									<div class="col-sm-4 col-xs-12">
										<div class="widget-icon  pull-left">
											<!--<i class="fa fa-times phd-overlay-icon" aria-hidden="true"></i>-->
											<i class="fa fa-eye" aria-hidden="true"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-8">
										<div class="title">{{userInsights.appViews}}</div>
										<div class="comment">App Views
										</div>
									</div>
								</div>
							</rd-widget-body>
						</rd-widget>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-12 p-a-0">
						<rd-widget>
							<rd-widget-body classes="phd-card-gray dash-board-min-height-home m-a-1-ph  p-a-0">
								<div class="row dash-board-min-height-home phd-flex middle">
									<div class="col-sm-4 col-xs-12">
										<div class="widget-icon  pull-left">
											<i class="fa fa-signal" aria-hidden="true"></i>
											<i class="fa fa-times phd-overlay-icon" aria-hidden="true"></i>
										</div>
									</div>
									<div class="col-xs-12 col-sm-8">

										<div class="title">{{userInsights.offlineViews}}</div>
										<div class="comment">Offline Views
										</div>
									</div>
								</div>
							</rd-widget-body>
						</rd-widget>
					</div>
				</div>
			</div>
			<div class="col-lg-5 m-t-1">
				<div class="phd-card" id="common_actions_card">
					<div class="phd-card-body">

						<div class="row">
							<div class="col-xs-12">
								<div class="list-group">
									<h3><i class="fa fa-list-ul __icon--modify" aria-hidden="true"></i> Common Actions </h3>
									<a href="#/dashboard/customization" class="list-group-item"><h6>Customize PWA Experience</h6><p>Change notification bell to popUp, offline message for users &amp; more</p></a>
									<a href="#/dashboard/set-welcome-message" class="list-group-item"><h6>Configure Welcome Message</h6><p>Greet your users with welcome push notification</p></a>
									<a href="#/dashboard/create-segments" class="list-group-item"><h6>Configure Segments</h6><p>Split your users into groups so you can manage them</p> </a>
									<a href="#/dashboard/send-push-notification" class="list-group-item"><h6>New Push Notification</h6> <p>Send a Push Notification to some or group of users</p></a>
									<a href="#/dashboard/organization-settings" class="list-group-item"><h6>Billing Details</h6> <p>Fill/Update your billing details</p></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>