<div class="row header " ng-hide=true>
    <div class="col-xs-12 ">
        <div class="user pull-right">
            <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                    <p class="phd-user-name"><span class="fa fa-user"></span><span class="hidden-xs">&nbsp;&nbsp;{{username}}</span></p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="divider"></li>
                    <li class="link">
                        <a href="#" ng-click="logout()">
                            <span class="fa fa-sign-out"></span>&nbsp;&nbsp;Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--<div class="meta">
              <div class="page capitalize">
                {{viewState}}
              </div>
              <div class="breadcrumb-links capitalize">
                Home / {{viewState}}
              </div>
            </div>-->
        <div class="navbar-header rd-color phd-flex center middle ">

            <a class="navbar-brand  " href="/">
                <span class="rd-title">Widely<span>
                <img alt="Widely Automate Progressive Web App" src="assets/img/logo.png" class="logo-ninja"></a>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->
 <div class="container">
    <nav class="navbar  navbar-static-top m-b-0">
        <div class="container-fluid">
            <div class="navbar-header phd-flex middle">
                <a class="navbar-brand rd-dispaly " href="/">
                    <img alt="Widely PWA builder" src="assets/img/logo.png" class="logo-ninja">
                </a>
            </div>
                  <div class="pull-right phd-flex middle phd-user-name">
                              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                   <p class=" p-b-0 m-b-0"><span class="fa fa-user"></span><span class="hidden-xs">&nbsp;&nbsp;{{username}}</span></p>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="divider"></li>
                <li class="link">
                    <a href="#" ng-click="logout()">
                        <span class="fa fa-sign-out"></span>&nbsp;&nbsp;Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="navbar-header">

    </div>

</div>
</nav>
</div>