<!--<div ng-show="authData" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>-->
    <rd-loading></rd-loading>
  
 <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
                        <div class="phd-card">
                            <p  class="phd-callout callout-danger">
                                <span ng-bind-html="phd_errorMsg | sanitize"></span>
                            </p>
                        </div>
                    </div>


            <div class="row" id="inviteUser" ng-show="!phd_error">
                <div class="">
                    <div class="col-xs-12 col-md-8 col-md-offset-2" uib-collapse="isCollapsed">
                        <div class="phd-card card-lg row m-b-1">
                            <div class="phd-card-title m-b-1">
                                <h4> Current Users</h4>
                                <p class="phd-card-subtext"></p>
                            </div>
                            <div class="phd-card-body m-t-3">
                                <div class="col-xs-12">
                                    <table class="table table-bordered ">
                                        <thead>
                                            <tr>

                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Role</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="adm in devAdmin">
                                                <td>{{adm.name}}</td>
                                                <td>{{adm.email}}</td>
                                                <td> <i class="fa fa-code __icon--modify" aria-hidden="true"></i>Developer </td>
                                            </tr>
                                            <tr ng-repeat="adm in mktAdmin">
                                                <td>{{adm.name}}</td>
                                                <td>{{adm.email}}</td>
                                                <td> <i class="fa fa-pie-chart __icon--modify" aria-hidden="true"></i>Marketer </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-md-8 col-md-offset-2 m-y-1">

                        <div ng-messages="invitationMsg" uib-collapse="!showMsg" class="phd-card text-center">
                            <p ng-message="success" class="phd-callout callout-success"><span ng-bind-html="infoSuccess | sanitize"></span> </p>
                            <p ng-message="failure" class="phd-callout callout-danger"><span ng-bind-html="infoSuccess | sanitize"></span> </p>
                            <p ng-message="devExceed" class="phd-callout callout-danger"><span ng-bind-html="infoSuccess | sanitize"></span> </p>
                            <p ng-message="mktExceed" class="phd-callout callpout-danger"><span ng-bind-html="infoSuccess | sanitize"></span> </p>
                        </div>

                        <div class="phd-card card-lg m-b-1">

                            <div class="phd-card-title m-b-1">
                                <h4>Invite Users</h4>
                                <p class="phd-card-subtext"></p>
                            </div>
                            <div class="phd-card-body m-t-3 p-x-3">
                                <div class="phd-note phd-note-danger" ng-show='userExceed'>
                                    <div class="icon">
                                        <span class="fa fa-exclamation-circle fa-2x"></span>
                                    </div>
                                    <div class="note-text">
                                        <p class="msg"> At max, You can add only 2 Admins! </p>
                                    </div>
                                </div>
                                <form name="inviteUsers">
                                    <div uib-collapse="userExceed">
                                        <div class="form-group">
                                            <label>Add Admin <span class="text-danger">* </span></label>
                                            <select class="form-control" required="required" ng-model="invite.role" ng-change="adminSelected()">
                            <option value="developer">Developer</option>
                            <option value="marketer">Marketer</option>
                        </select>
                                        </div>
                                        <div class="form-group ">
                                            <label>Email <span class="text-danger">* </span></label>
                                            <input type="email" ng-model="invite.email" class="form-control" placeholder="Email" required="required">
                                        </div>
                                    </div>
                                    <div class="phd-btn-container row m-y-3 ">
                                        <button type="button" class="btn btn-default pull-left" ng-click="isCollapsed = !isCollapsed">
                             
                            <span ng-if='isCollapsed' class="black"><i class="fa fa-eye" aria-hidden="true"></i> Show </span >
                            <span ng-if="!isCollapsed" class="black"><i class="fa fa-eye-slash" aria-hidden="true"></i> Hide</span>
                             Current Users
                        </button>
                                        <button type="submit" class="btn btn-default" ng-disabled="inviteUsers.$invalid || admExceed" ng-click="sendInviteToAdmin()"><i class="fa fa-sign-in" aria-hidden="true"></i> Send</button>
                                    </div>
                                    <!--
                        =======================================================================================================================================
                                                                                messages
                        =======================================================================================================================================
                    -->
                                    <div uib-collapse="!inviteUsers.$valid" class="text-center">
                                        <p class="phd-callout callout-danger">
                                            Make sure you share this with right person because he/she will get equal right as you have.
                                        </p>
                                    </div>
                                    <div ng-messages="inviteUsers.$error" role="alert" class="text-center">
                                        <p class="phd-callout callout-success" ng-message="email">This field must be a valid email address.</p>
                                        <!--<div ng-message="maxlength">This field can be at most 15 characters long.</div>-->
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       