<header>
    <div class="container">
    <nav class="navbar  navbar-static-top m-b-0">
        <div class="container-fluid">
            <div class="navbar-header phd-flex center middle">
                <a class="navbar-brand rd-dispaly " href="/"  tabindex="-1">
                    <img  class="login-logo" alt="Widely Progressive Web Application tool" src= {{logo}}>
                    <!--<h3 class="p-a-0 m-a-0"><span class="rd-title">Widely<span></h3>-->
                </a>
            </div>
            </div>
    </nav>
    </div>
</header>