<rd-loading></rd-loading>

<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
  <div class="text-center">
    <p ng-bind="msg" ng-show="result " class="phd-callout callout-success "></p>
    <p ng-show="orgResult " ng-bind="orgMsg" class="phd-callout callout-success "></p>
  </div>
  <div class="phd-card">
    <p class="phd-callout callout-danger">
      <span ng-bind-html="phd_errorMsg | sanitize"></span>
    </p>
  </div>
</div>
<div class="row" ng-show="!phd_error">
  <div class="">
    <div class="text-center">
      <p ng-show="orgResult " ng-bind="orgMsg " class="phd-callout callout-success "></p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="phd-card card-lg">
        <div class="phd-card card card-sm">
          <div class="card-header text-center m-b-1">
            <h4>Organization Settings </h4>
            <p class="phd-card-subtext"></p>
          </div>
        </div>
        <div class="card-block" uib-collapse="next">
          <div class="form-group ">
            <label>Organization</label>
            <input type="text " ng-model="orgSettings.organization" class="form-control " placeholder="Organization">
          </div>
        </div>
        <div class="text-right">
          <button type="button" title="Next" ng-click="next=!next;next1=!next1" class="btn btn-default">
                                   <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                    </button>
        </div>
        <div class="card-block">
        </div>
        <div class="phd-card card card-sm">
          <div class="card-header text-center m-b-1">
            <h4>Billing Details</h4>
            <p class="phd-card-subtext"></p>
          </div>
        </div>
        <form name="orgSettingsForm" class="p-x-3 m-t-3">
        <div class="card-block" uib-collapse="next1">
          <div class="form-group">
            <label>Billing Name<span class="text-danger ">*</span></label>
            <input type="text " ng-model="orgSettings.billingName" class="form-control " ng-required=true placeholder="Billing Name">
          </div>
          <div class="form-group">
            <label>Billing Address<span class="text-danger ">*</span></label>
            <input type="textarea" ng-model="orgSettings.billingAddress" class="form-control " ng-required=true placeholder="Billing Address">
          </div>
          <div class="form-group ">
            <label>Country<span class="text-danger ">*</span></label>
            <select ng-model="orgSettings.country" class="form-control " ng-required=true placeholder="Country">
              <option ng-repeat="country in orgSettings.countries" value='{{country.name}}'>{{country.name}}</option>
            </select>
          </div>
          <div class="form-group ">
            <label>State<span class="text-danger ">*</span></label>
            <input type="text" ng-model="orgSettings.state" class="form-control " ng-required=true placeholder="State">
          </div>
          <div class="form-group ">
            <label>Zip<span class="text-danger ">*</span></label>
            <input type="number" ng-model="orgSettings.zip" class="form-control " ng-required=true placeholder="Zip">
          </div>
          <div class="form-group ">
            <label>Phone<span class="text-danger ">*</span></label>
            <input type="number" ng-model="orgSettings.phone" class="form-control " ng-required=true placeholder="Phone">
          </div>
        </div>
        </form>
        <div class="text-right">
          <button type="button" title="Next" ng-click="next1=!next1;next=!next" class="btn btn-default">
                                   <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                    </button>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="phd-btn-container m-y-3">
        <button type="submit " ng-disabled="orgSettingsForm.$invalid " ng-click="save() " class="btn btn-default "><i class="fa fa-sign-in " aria-hidden="true "></i>&nbspSubmit</button>
      </div>
      <div class="phd-btn-container p-x-3 ">
        <button type="submit " class="btn btn-danger " ng-click="deactivateAcc() "><i class="fa fa-exclamation-triangle white" aria-hidden="true"></i> Deativate Account</button>
      </div>
    </div>
  </div>
</div>