<!--<div ng-show="authData" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>-->
<rd-loading></rd-loading>
<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
    <div class="phd-card">
        <p class="phd-callout callout-danger">
            <span ng-bind-html="phd_errorMsg | sanitize"></span>    
        </p>
    </div>
</div>
<div class="row" ng-show="!phd_error">
    <div class="">
        <!--messages -->
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div ng-messages="plansMsg" uib-collapse=!showMsg class="phd-card text-center">
                <p ng-message="success" class="phd-callout callout-success">
                    <span ng-bind-html="infoSuccess | sanitize"></span>
                </p>
                <p ng-message="failure" class="phd-callout callout-danger">
                    <span ng-bind-html="infoFailure | sanitize"></span>
                </p>
            </div>
        </div>
        <!--messages-->
        <div class="col-xs-12 col-lg-10 col-lg-offset-1 plan-card">
            <div class="phd-card card">
                <div class="card-header text-center">
                    <h3>PRICING</h3>
                </div>
                <div class="card-block text-center">
                    <div class="col-md-6 p-y-3">
                        <label>Monthly Unique Visitors (MUVs)</label>
                        <select class="form-control" 
                             ng-model="users" ng-options="mauItem.key for mauItem in MAUObjs" ng-change="updateCost()">
                           <option value="">Select MUVs</option>       
                        </select>
                    </div>
                    <div class="col-md-6 p-y-3">
                        <label class="contol-label">Subscribers</label>
                        <select class="form-control" ng-model="subscribers" ng-change="updateCost()" ng-options="subItem.key for subItem in subscriberObjs">
                        <option value="">Select Subscribers</option>
                  </select>
                    </div>
                </div>
                <div class="card-block text-center p-y-2">
                    <div class="row">
                        <div class="col-xs-12 col-lg-7 col-lg-offset-2">
                            <div class="form-group ">
                                <div class="col-md-6">
                                    <div ng-model="cost" ng-disabled=true >{{cost | currency}}</div>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success" ng-disabled="!subscribers|| !users" ng-click="computeCost()">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                </div>
                <div class="card-block text-center">
                    <!-- <div class="row">
                        <div class="col-xs-12 col-lg-7 col-lg-offset-2">
                            <div class="form-group ">
                                <div class="col-md-6">
                                    <input type="text " ng-model="discountCoupon" max-length=15 my-enter="applyDiscount(discountCoupon)" class="form-control "
                                        placeholder="Discount Coupon">
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-success" ng-disabled="!discountCoupon" ng-click="applyDiscount(discountCoupon)">Apply</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    </br>
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <div class="card card--minheight">
                                <div class="phd-card-tilte brandColorBlue p-a-1">
                                    <h3 class="white">Enterprise Plan</h3>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">We have plan for enterprises. <a href='/inquire'> Connect</a> with us for higher MUV &amp; Subscriber range then defined above.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <div class="card card--minheight">
                                <div class="phd-card-tilte brandColorRed p-a-1">
                                    <h3 class="white">Services Model</h3>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">Many services based organizations work with us for their clients. To use Widely
                                        for building PWAs and managing them for your clientele, this is an interesting model.
                                        <br/> <a href="/inquire" class="ph_redirect_sections" data-redirect="#main" data-url="inquire"
                                            target="_blank">Connect</a> with us to know more.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>