<rd-loading></rd-loading>
<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
    <div class="phd-card">
        <p class="phd-callout callout-danger">
            <span ng-bind-html="phd_errorMsg | sanitize"></span>
        </p>
    </div>
</div>
<div class="row" ng-show="!phd_error">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
        <div class="phd-card card card-sm">
            <div class="card-header text-center m-b-1 cursor-add" ng-click="clickHead('appSetting')">
                <h4>1. Application Settings </h4>
                <p class="phd-card-subtext"></p>
            </div>
            <div class="card-block" uib-collapse="next">
                <div class="col-xs-12">
                    <cite class="pull-right"><a href="/support/#/docs/quick-guide/#app-settings" target="_blank" uib-tooltip="{{appSettingHelp}}" tooltip-placement="right-top">Need Help?</a></cite>
                </div>
                <form name="settingsForm" class="p-x-3 m-t-3">
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" tooltip-popup-close-delay="2000" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"
                                uib-tooltip-template="'api.html'"></span>
                            <label>API Key <span class="text-danger">* </span></label>
                            <input type="text" ng-required=requiredKey ng-model="config.api_key" class="form-control" placeholder="API KEY" required="required">
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" tooltip-popup-close-delay="2000" class="glyphicon glyphicon-question-sign" tooltip-placement="right-top"
                                uib-tooltip-template="'project.html'"></span>
                            <label>Project Number <span class="text-danger">* </span></label>
                            <input type="text" class="form-control" ng-model="config.project_no" placeholder="Project No." required="required">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" uib-tooltip="{{notificationTip}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                            <label> Push Notification Icon</label>
                            <input type="text" ng-model="config.notificationUrl" title="Image that appears as icon on push notifications." class="form-control"
                                placeholder="http://example.com/icon.png (192x192)">
                            <p class="phd-callout callout-danger" ng-if="appSettingError.notificationErr">
                                <span ng-bind-html="appSettingError.notificationErr | sanitize"></span>
                            </p>
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" uib-tooltip="{{homeScreenTip}}" class="glyphicon glyphicon-question-sign" tooltip-placement="right-top"></span>
                            <label> Home Screen Icon <span class="text-danger">* </span></label>
                            <input type="text" ng-required=true ng-model="config.manifest.default_homeScreenUrl" title="Image that appears as icon on user's home screen after installation."
                                class="form-control" placeholder="https://example.com/icon.png (192x192)">
                            <p class="phd-callout callout-danger" ng-if="appSettingError.homeError">
                                <span ng-bind-html="appSettingError.homeError | sanitize"></span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" uib-tooltip="{{domainTip}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                            <label>Website URL</label>
                            <input type="text" ng-model="config.domain" class="form-control" title="your website domain" placeholder="https://www.example.com">
                            <p class="phd-callout callout-danger" ng-if="appSettingError.domain">
                                <span ng-bind-html="appSettingError.domain | sanitize"></span>
                            </p>
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" uib-tooltip="{{timeZoneTip}}" class="glyphicon glyphicon-question-sign" tooltip-placement="right-top"></span>
                            <label> TimeZone Country or territory <span class="text-danger">* </span></label>
                            <select class="form-control" id="timeZone" title="TimeZone" ng-model="config.timeZone">
                                        <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</option>
                                        <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</option>
                                        <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</option>
                                        <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</option>
                                        <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
                                        <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</option>
                                        <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</option>
                                        <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                                        <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</option>
                                        <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</option>
                                        <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</option>
                                        <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                                        <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</option>
                                        <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                                        <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</option>
                                        <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</option>
                                        <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</option>
                                        <option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</option>
                                        <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</option>
                                        <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</option>
                                        <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</option>
                                        <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</option>
                                        <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</option>
                                        <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</option>
                                        <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</option>
                                        <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</option>
                                        <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</option>
                                        <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</option>
                                        <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                                        <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                                        <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                                        <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                                        <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                                        <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                                        <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</option>
                                        <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</option>
                                        <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                                        <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</option>
                                        <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</option>
                                        <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</option>
                                        <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                                        <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</option>
                                        <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</option>
                                        <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</option>
                                        <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                                        <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                                        <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</option>
                                        <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</option>
                                        <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</option>
                                        <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</option>
                                        <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</option>
                                        <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</option>
                                        <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</option>
                                        <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</option>
                                        <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                                        <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                                        <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</option>
                                        <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</option>
                                        <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</option>
                                        <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</option>
                                        <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</option>
                                        <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                                        <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</option>
                                        <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                                        <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</option>
                                        <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                                        <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</option>
                                        <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</option>
                                        <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                                        <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</option>
                                        <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</option>
                                        <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</option>
                                        <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</option>
                                        <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</option>
                                        <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                                        <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</option>
                                        <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</option>
                                        <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</option>
                                        <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                                        <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</option>
                                        <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                                        <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</option>
                                    </select>
                        </div>
                    </div>
                </form>
                <div class="text-center m-y-2">
                    <button type="submit" ng-click="validateAppSettings()" class="btn btn-default" ng-disabled="settingsForm.$invalid"><i class="fa fa-thumbs-o-up" aria-hidden="true" ></i> {{validateButtonLabel}}</button>
                    <br/>
                    <p class="phd-callout callout-success" ng-if="appSetting.success">
                        <span ng-bind-html="appSetting.success | sanitize"></span>
                    </p>
                </div>

                <div class="card-block">
                    <div class="text-right">
                        <button type="button" title="Next" ng-click="colapseHead('appSetting')" class="btn btn-default">
                               <i class="fa fa-arrows-v" aria-hidden="true"></i>
                         </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="phd-card card card-sm">
            <div class="card-header text-center m-b-1 cursor-add" ng-click="clickHead('manifest')">
                <h4>2. Manifest</h4>
                <p class="phd-card-subtext"></p>
            </div>
            <div class="card-block" uib-collapse="next1">
                <div class="col-xs-12">
                    <cite class="pull-right"><a href="/support/#/docs/quick-guide/#manifest" target="_blank" uib-tooltip="{{manifestHelp}}" tooltip-placement="right-top">Need Help?</a></cite>
                </div>
                <form name="maifestForm" class="p-x-3 m-t-3">
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" uib-tooltip="{{splash}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                            <label>Splash Screen Name<span class="text-danger">* </span></label>
                            <input type="text" ng-required=true ng-model="config.manifest.name" title="Name of splash screen" class="form-control" placeholder="App Install banner name">
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" uib-tooltip="{{homeScreen}}" class="glyphicon glyphicon-question-sign" tooltip-placement="right-top"></span>
                            <label>Home Screen Name<span class="text-danger">* </span></label>
                            <input type="text" ng-required=true ng-model="config.manifest.sort_name" title="Name of home screen" class="form-control"
                                placeholder="Name Of the App">
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" uib-tooltip="{{description}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                            <label>Description</label>
                            <input type="text" ng-model="config.manifest.description" class="form-control" title="Small description of your app" placeholder="Small description of your app">
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" uib-tooltip="{{startURL}}" class="glyphicon glyphicon-question-sign" tooltip-placement="right-top"></span>
                            <label>Start URL<span class="text-danger">* </span></label>
                            <input type="text" ng-model="config.manifest.start_url" class="form-control" title="Relative launch URL of app without domain name, i.e path after domain name. For Example / is used in mostly cases."
                                placeholder="Relative launch URL of app." required>
                            <p class="phd-callout callout-danger" ng-if="config.manifest.start_url && !config.manifest.start_url.startsWith('/')">
                                <span ng-bind-html="startUrlErr| sanitize"></span>
                            </p>
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" uib-tooltip="{{bgColorTip}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                            <label>Background Color<span class="text-danger">* </span></label>
                            <input type="text" name="color" ng-required=true ng-model="config.manifest.background_color" class="form-control" ng-class="{err:maifestForm.color.$error.pattern}"
                                title="Hexadecimal or RBG components for background color." placeholder="Example: #fafafa">
                        </div>
                        <div class="form-group col-xs-12 col-md-6">
                            <span style="float:right; color:#fd586f;" uib-tooltip="{{themeColorTip}}" class="glyphicon glyphicon-question-sign" tooltip-placement="right-top"></span>
                            <label>Theme Color<span class="text-danger">* </span></label>
                            <input type="text" ng-required=true ng-model="config.manifest.theme_color" class="form-control" title="Hexadecimal or RBG components for theme color for your PWA."
                                placeholder="Primary Theme Color :#fafafa">
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="text-center m-y-2">
                        <div uib-tooltip="{{downloadManifestTip}}">
                            <button type="submit" ng-click="save()" class="btn btn-default" ng-disabled="settingsForm.$invalid||maifestForm.$invalid || !config.manifest.start_url.startsWith('/') || !appSetting.success"><i class="fa fa-download" aria-hidden="true" ></i> Download Manifest</button>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="text-right">
                        <button type="button" title="Next" ng-click="colapseHead('manifest')" class="btn btn-default">
                            <i class="fa fa-arrows-v" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--added-->
        <div class="phd-card card card-sm">
            <div class="card-header text-center m-b-1 cursor-add" ng-click="clickHead('serviceWorker')">
                <h4>3. Service Worker</h4>
                <p class="phd-card-subtext"></p>
            </div>
            <div class="card-block" uib-collapse="next2">
                <div class="col-xs-12">
                    <cite class="pull-right"><a href="/support/#docs/customize-dashboard/#offline" target="_blank" uib-tooltip="{{pswHelp}}" tooltip-placement="right-top">Need Help?</a></cite>
                </div>
                <label>Download Service Worker to get going:</label>
                <!--	<button type="button" class="btn btn-sm" ng-model="offlineFlag" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"
								ng-class="{'btn--green':offlineFlag,'btn-danger':!offlineFlag}">
                                            <span ng-if="offlineFlag">Yes</span><span ng-if="!offlineFlag">No</span>
                    </button>              
					<form name="offline" class="m-y-2" uib-collapse="!offlineFlag">
								<div class="form-group ">
									<span style="float:right; color:#fd586f;" uib-tooltip="{{offlinetip}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
                            		<label>Offline Page URL<span class="text-danger">* </span></label>
									<input type="text" ng-model="customOffline" class="form-control" placeholder="https://www.example.com/offline.html " ng-required="offlineFlag">
								</div>
								<a ng-hide="offlineFlag" class="btn btn-default" ng-class="{'m-l-3':!offlineFlag}" ng-href="{{offlineFlag?customOffline:''}}"
									target="_blank">Preview Offline Page</a>
								<div class="form-group ">
									<span style="float:right; color:#fd586f;" uib-tooltip="{{dependenciesTip}}" class="glyphicon glyphicon-question-sign" tooltip-placement="left-top"></span>
									<label>Add dependencies</label>
									<div class="input-group ">
										<input type="text" ng-model="pageUrl" class="form-control" placeholder="https://example.com">
										<span class="input-group-btn">
                                                        <button class="btn btn--green" type="button" ng-click="addUrl()" ng-disabled="pageUrl.$invalid||!pageUrl">Add</button>
                                            </span>
									</div>
								</div>
								<div class="p-a-1 urlContainer">
									<ul class="list-group">
										<li class="list-group-item" ng-repeat="item in urls">{{item}}
											<span class="close"><a ng-click="removeUrl(item)"><i class="fa fa-times black" aria-hidden="true"></i></a></span>
										</li>
									</ul>
								</div>
					</form> -->
                <div class="text-center m-y-2">
                    <button type="submit" ng-click="download()" class="btn btn-default" ng-disabled="offline.$invalid"><i class="fa fa-download" aria-hidden="true" ></i> Download Sevice Worker</button>
                </div>
                <div class="card-block">
                    <div class="text-right">
                        <button type="button" title="Next" class="btn btn-default" ng-click="colapseHead('serviceWorker')">
                                    <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                    </button>
                    </div>
                </div>
            </div>
        </div>
        <!--added--2-->
        <div class="phd-card card card-sm">
            <div class="card-header text-center m-b-1 cursor-add" ng-click="clickHead('widely')">
                <h4 ng-if="!reseller">4. Widely.js</h4>
                <h4 ng-if="reseller">4. PWA JS</h4>
                <p class="phd-card-subtext"></p>
            </div>
            <div class="card-block" uib-collapse="next3">
                <div class="col-xs-12">
                    <cite class="pull-right"><a href="/support/#/docs/widely-api" target="_blank" uib-tooltip="{{widelyHelp}}" tooltip-placement="right-top">Need Help?</a></cite>
                </div>
                <div class="m-b-3">
                    <button uib-tooltip="Copy" tooltip-placement="right" class="btn btn-default btn-sm pull-right" ngclipboard data-clipboard-target="#plugANdPlay">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                         </button>
                    <span id="plugANdPlay">
						<span class="atn"> &ltscript src="https://widely.global.ssl.fastly.net/lib/1.0.6/widely.js"&gt &lt/script&gt </span><br/>
                    <span class="atn"> &lt;script type="<span class="atv">text/javascript</span>"&gt;</span> <br/>
                    <span class="pln">
							<span>! function() {function e(e) {
									if (4 == i.readyState && 200 == i.status) {
									var o = i.responseText,a = {};
									"null" != o ? (a = JSON.parse(o), localStorage.setItem("widely::widelyConfig", JSON.stringify(a))) : window.localStorage && void 0 != localStorage.getItem("widely::widelyConfig") ? a = JSON.parse(localStorage.getItem("widely::widelyConfig")) : (a.service_worker_url = "./service-worker.js", a.hashId = t), Widely.pwa(a)
									}}var t = "{{hashId}}",i = new XMLHttpRequest,
							o = "https://progresshive.firebaseio.com/users/"+t+"/pwaMappings/customize.json";
							i.open("GET", o, !0), i.send(), i.addEventListener("readystatechange", e, !1)
							}();</span> <br/>
                    <span class="atn"> &lt;/script&gt; </span><br/>
                    </span>
                    </span>
                </div>
                <div class="text-center m-y-2">
                    <button type="submit" ngclipboard data-clipboard-target="#plugANdPlay" uib-tooltip="Copy" class="btn btn-default"><i class="fa fa-clipboard" aria-hidden="true" ></i> Copy</button>
                </div>
                <div class="card-block">
                    <div class="text-right">
                        <button type="button" title="Next" class="btn btn-default" ng-click="colapseHead('widely')">
                                    <i class="fa fa-arrows-v" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--added-->
        <div class="phd-card card card-sm">
            <div class="card-header text-center m-b-1 cursor-add" ng-click="clickHead('integration')">
                <h4>5. Integrate</h4>
                <p class="phd-card-subtext"></p>
            </div>
            <div class="card-block" uib-collapse="next4">
                <div class="col-xs-12">
                    <cite class="pull-right"><a href="/support/#/docs/integration" target="_blank" tooltip-popup-close-delay="3000" uib-tooltip="{{integrateHelp}}" tooltip-placement="right-top">Need Help?</a></cite>
                </div>
                <label>1. Place <b>manifest.json</b> and <b>service-worker.js</b> in the <span style="color:#fd586f;" uib-tooltip="{{rootElement}}">root</span> of your application:</label>
                <label>2. Call <b>manifest.json</b> in  <span style="color:#fd586f;">&lt;head&gt;</span> tag of every view (html) of your application.</label>
                <br/>
                <code>
							&lt;link rel="manifest" href="./manifest.json" /&gt;
						</code>
                <label>3. Paste script copied from <b>Widely.js</b> just above the ending <span style="color:#fd586f;">&lt;/body&gt;</span> tag of every view (html) of your application. </label>
                <label>4. Now test your application using the steps described under <a  style="color:#fd586f;" target="_blank" href="/support/#/docs/quick-guide/#test">testing</a>.</label>                `
                <br/><br/>
                <label>In case of any issue, please drop us <a href='mailto:hi@widely.io' style='color:#fd586f;' target='_blank'>mail</a>. We would be happy to help you.</label>
                <div class="card-block">
                    <div class="text-right">
                        <button type="button" title="Next" class="btn btn-default" ng-click="colapseHead('integration')">
                                    <i class="fa fa-arrows-v" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>