<div ui-view="headbar"></div>
<rd-loading></rd-loading>
<div id="register">
<div class="container">
    <div class="row phd-flex center column full">
        <div class="col-xs-12 col-sm-6 col-md-6  col-lg-4 col-lg-offset-4 col-md-offset-3 col-sm-offset-3 rd-form p-y-1 m-y-1 text-center">
                <p  class="{{resultClass}}" ng-bind-html = "msg | sanitize">
                </p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6  col-lg-4 col-lg-offset-4 col-md-offset-3 col-sm-offset-3 rd-form p-x-3 m-t-1">
            <form role="form" name="resetPasswordForm" ng-hide="hide">
                <div class="form-group">
                    <label for="email">Email address <span class="text-danger">* </span></label>
                    <input type="email" ng-model ="user.email" class="form-control" id="email" required = "required">
                </div>
                <div class="form-group">
                    <label for="pwd">Old Password <span class="text-danger">* </span></label>
                    <input type="password" ng-model="user.oldpswd" class="form-control" id="oldpwd" required = "required">
                </div>
                <div class="form-group">
                    <label for="pwd">New Password <span class="text-danger">* </span></label>
                    <input type="password" ng-model="user.newpswd" class="form-control" id="newpwd" required = "required">
                </div>
                <div class="form-group">
                    <label for="pwd">Re Enter New Password <span class="text-danger">* </span></label>
                    <input type="password" ng-model="user.pswd" class="form-control" id="pwd" required = "required">
                </div>
                
            </form>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6  col-lg-4 col-lg-offset-4 col-md-offset-3 col-sm-offset-3 rd-form p-x-3 card-footer">
        <div class=" phd-btn-container">
                    <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid" ng-click="reset()" style="float:right"><i class="fa fa-sign-in" aria-hidden="true"></i> Submit</button>
                </div>
        </div>
    </div>

</div>
</div>