<!--<div ng-show="authData" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>-->
 
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
                        <div class="phd-card">
                            <p  class="phd-callout callout-danger">
                                <span ng-bind-html="phd_errorMsg | sanitize"></span>
                            </p>
                        </div>
                    </div>
            <div class="row" ng-show="!phd_error">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " ng-messages="msg" uib-collapse="isCollapsed">
                            <p ng-message="success" class="phd-callout callout-success">
                                <span ng-bind-html="sendPushSuccess | sanitize"></span>
                            </p>
                            <p ng-message="failure" class="phd-callout callout-danger">
                                <span ng-bind-html="sendPushFailure | sanitize"></span>
                            </p>
                            <p ng-message="noSegment" class="phd-callout callout-danger">
                                <span ng-bind-html="noSegSelectedMsg | sanitize"></span>
                            </p>
                            <p ng-message="containtAll" class="phd-callout callout-danger">
                                <span ng-bind-html="contanAllMsg | sanitize"></span>
                            </p>
                            <p ng-message="noSub" class="phd-callout callout-danger">
                                <span ng-bind-html="noSubMsg | sanitize"></span>
                            </p>
                    </div>
                    <div class=" col-xs-12 col-md-10 col-md-offset-1">
                        <div class="row phd-card card-lg">
                            <div class="phd-card-title m-b-1">
                                <h4 class="">Send Push Notification</h4>
                                <!--<p class="phd-card-subtitle">Sint magna voluptate nostrud cupidatat ad elit ad deserunt adipisicing irure fugiat est enim tempor.</p>-->
                            </div>
                            <rd-loading></rd-loading>
                            <form class="p-x-3 m-t-3 col-xs-12" name="pushForm" uib-collapse="!showSend">
                                <div class="form-group col-sm-6">
                                    <label for="inputText2" class=" control-label">Select Language</label>
                                    <div class="">
                                        <select class="form-control bfh-languages" data-language="en_US" data-available="en_US,fr_CA,es_MX" ng-disabled="true">
                                        <option  disabled>No Language Selected</option>
                                        <option value="en_US" selected>English (United States)</option>
                                        <option value="fr_CA">Français (Canada)</option>
                                        <option value="es_MX">Español (Mexico)</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="inputText2" class=" control-label">Title <span class="text-danger">* </span></label>
                                    <div class="">
                                        <input type="text" class="form-control" ng-model="field.title" id="inputText2" placeholder="Title (48 characters max)" required="required"
                                            maxlength="48">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="inputtextarea" class=" control-label">Content <span class="text-danger">* </span></label>
                                    <div class="">
                                        <textarea name="textarea" rows="4" cols="50" maxlength="100" ng-model="field.content" required="required" id="inputtextarea"
                                            class="form-control" placeholder="Write down details here! (100 characters max)"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="inputProductUrl" class=" control-label">Launch URL <span class="text-danger">{{menSign}} </span></label>
                                    <div class=""> 
                                        <input type="url" class="form-control" ng-model="field.lurl" id="inputProductUrl" ng-required="checkBoxUtm" placeholder="Enter url with http:// or https://">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="inputIconUrl" class=" control-label">Icon URL </label>
                                    <div class="">
                                        <input type="url" class="form-control" ng-model="field.icon_url" id="inputIconUrl" placeholder="Enter url with (.jpg or .png)" pattern="^https?:\/\/(?:[a-z0-9\-]+\.)+[a-z]{2,6}(?:\/[^\/#?]+)+\.(?:jpg|png|PNG|JPEG|JPG|jpeg)$">
                                    </div>
                                </div> 
                                <!--<select ng-model="field.group" required = "required" multiple>
                                <option>All</option>
                                <option>Device Users</option>
                                <option>Chrome Users</option>
                            </select>-->
                                <div class="form-group col-xs-12 col-sm-6">

                                    <label for="inputPassword3" class="control-label" >Segment <span class="text-danger">* </span></label>

                                    <div class="checkbox p-a-0">
                                        <label>
                                <input type="checkbox" ng-model="allUsers" >All Users
                                </label>
                                    </div>

                                    <div uib-collapse="allUsers">
                                        <label>Or</label>
                                        <div ng-model="field.group" isteven-multi-select input-model="modernBrowsers" output-model="outputBrowsers" button-label="icon name"
                                            item-label="icon name maker" tick-property="ticked" disable-property="disabled" is-disabled="allUsers">
                                        </div>
                                    </div>

                                </div>
                                <div class="checkbox col-xs-12 col-sm-6">
                                    <label>
                                <input type="checkbox" ng-model="checkBoxUtm" ng-change="menSignFun()" >UTM Parameter.
                                </label>
                                </div>
                                <div class="checkbox col-xs-12 col-sm-3 schedulerCheckbox" ng-hide="true">
                                    <label>
                                <input type="checkbox" ng-model="notificationScheduler"> Schedule Notifications
                                </label>
                                </div>

                                <div class="col-xs-12">
                                    <div uib-collapse=!checkBoxUtm>
                                        <div class=" row utmBox">

                                            <div class="form-group col-sm-6">
                                                <label for="utm_source" class="control-label">utm_source <span class="text-danger">{{menSign}} </span></label>
                                                <div class="">
                                                    <input type="text" class="form-control" ng-required="checkBoxUtm" ng-model="utm_source" placeholder="Utm Source">
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="utm_medium" class=" control-label">utm_medium <span class="text-danger">{{menSign}} </span></label>
                                                <div class="">
                                                    <input type="text" class="form-control" ng-required="checkBoxUtm" ng-model="utm_medium" placeholder="Utm Medium">
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="utm_campaign" class=" control-label">utm_campaign <span class="text-danger">{{menSign}} </span></label>
                                                <div class="">
                                                    <input type="text" class="form-control" ng-required="checkBoxUtm" ng-model="utm_campaign" placeholder="Utm Campaign">
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="utm_content" class=" control-label">utm_content</label> 
                                                <div class="">
                                                    <input type="text" class="form-control" ng-model="utm_content" placeholder="Utm Content">
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="utm_term" class=" control-label">utm_term</label>
                                                <div class="">
                                                    <input type="text" class="form-control" ng-model="utm_term" placeholder="Utm Term">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--<div class="form-horizontal col-xs-12">
                                    <div uib-collapse=!notificationScheduler>
                                        <div class=" row notiSchBox">

                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    <label>Schedule Notifications For A Later Time?</label>
                                                </div>
                                                <div class="col-sm-8 p-a-0">
                                                    <div class="col-xs-12">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>                                                        No. Send them now.
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">                                                        Yes. Send them at a later time of day.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label class="col-xs-12 col-sm-2" style="padding-right:0px;">Wait Until</label>
                                                <div class="col-xs-12 col-sm-10">
                                                    <input type="text" class="form-control" placeholder="Now">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-2" style="padding-right:0px;">Examples :</label>
                                                <div class="col-xs-12 col-sm-10">
                                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                                        <a href="">+2 Hours</a>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                                        <a href="">+2 Days</a>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                                        <a href="">7:30 PM</a>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                                                        <a href="">12/31/2016 11:45 PM</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>-->

                                <div class="col-xs-12">
                                    <div class="col-xs-12 col-sm-4 p-a-0 " id="pushNotifPreview" ng-model="pushNotificationPreview" uib-collapse="!showNotificationPreview">
                                        <div class="phd-card phd-notification">
                                            <!--<div class="phd-card-title">
                                                <h4>Preview</h4>
                                            </div>-->
                                            <div class="col-xs-3 p-a-0 notification-container">
                                                <div class="notification-img">
                                                    <!--<i class="fa fa-paper-plane" aria-hidden="true"></i>-->
                                                    <img ng-src="{{field.icon_url}}" fallback-src="{{'assets/img/notAvailable.png'}}" alt=""/>
                                                </div>
                                            </div>
                                            <div class="col-xs-9 p-a-0 notification-container">
                                                <a href="" ng-click="showNotificationPreview = false"><span class="fa fa-times previewCloseBtn"></span></a>
                                                <div class="notification-title">
                                                    <strong><p class="m-a-0" ng-bind="field.title"></p></strong>
                                                </div>
                                                <div class="notification-content">
                                                    <p ng-bind="field.content"></p>
                                                </div>
                                                <div class="notification-link">
                                                    <a ng-bind="field.lurl"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="phd-card" id="UrlDisplay" uib-collapse="!checkBoxUtm">
                                            <div class="phd-card-title">
                                                <h5>URL To Open When User Clicks The Notification</h5>
                                            </div>
                                            <div class="phd-card-body">
                                                <div class="notification-link">
                                                    <a ng-bind="field.lurl"></a>
                                                    <a ng-bind="'?utm_source='+utm_source" ng-show="utm_source"></a>
                                                    <a ng-bind="'&utm_medium='+utm_medium" ng-show="utm_medium"></a>
                                                    <a ng-bind="'&utm_campaign='+utm_campaign" ng-show="utm_campaign"></a>
                                                    <a ng-bind="'utm_content='+utm_content" ng-show="utm_content"></a>
                                                    <a ng-bind="'&utm_term='+utm_term" ng-show="utm_term"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="phd-btn-container col-xs-12 m-b-3">
                                    <button class="btn btn-default" type="button" ng-click="showNotificationPreview = !showNotificationPreview"><i class="fa fa-paper-plane" aria-hidden="true"></i> Preview</button>
                                    <button class="btn btn-default" ng-disabled="pushForm.$invalid || !showSend" type="button" ng-click="triggerNotify()"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
                                </div>


                            </form>
                            <div class="row previewHelper " ng-show="( checkBoxUtm||notificationScheduler )&& showNotificationPreview">
                            </div>
                        </div>
                    </div>
            </div>
       