<rd-loading>
</rd-loading>

<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
	<div class="phd-card">
		<p class="phd-callout callout-danger">
			<span ng-bind-html="phd_errorMsg | sanitize"></span>
		</p>
	</div>
</div>
<div class="row" ng-show="!phd_error">
	<div class="">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<div class="phd-card">
				<form name="getCamp">
					<div class="form-group col-xs-12 col-md-6">
						<label>From Date :</label>
						<div class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="fromDate" is-open="showFromdp" max-date="dtmax"
								ng-focus="showFromcalendar($event)" required/>
							<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="showFromcalendar($event)">
                                <i class="glyphicon glyphicon-calendar  "></i>
                            </button>
                        </span>
						</div>
					</div>
					<div class="form-group col-xs-12 col-md-6">
						<label>
                         To Date :
                            </label>
						<div class="input-group">
							<input type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="toDate" is-open="showTodp" max-date="dtmax"
								ng-focus="showTocalendar($event)" required/>
							<span class="input-group-btn">
                            <button type="button" class="btn btn-default " ng-click="showTocalendar($event)">
                                <i class="glyphicon glyphicon-calendar "></i>
                            </button>
                        </span>
						</div>
					</div>
					<div class="phd-btn-container">
						<button type="button" ng-click="getCampRecords(fromDate, toDate)" class="btn btn-default" ng-disabled="getCamp.$error.required"><i class="fa fa-table" aria-hidden="true"></i> Get Records</button>
					</div>
				</form>
				<!-- calender -->
			</div>

		</div>
	</div>
</div>
<div class="row">
	<div class="">
		<div class="col-xs-12">

			<rd-widget ng-show="showDpResult">
				<rd-widget-header icon="fa-paper-plane" title="Sent Messages">
				</rd-widget-header>
				<rd-widget-body>

					<div class="table-responsive">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th title="Title of the Campaign">Title</th>
									<th title="Click Counts">Clicks</th>
									<th title="Delivery Counts">Deliveries</th>
									<th title="Sent To Total Users">Sent Count</th>
									<th title="Group to which message is sent">Segment</th>
									<th title="Click Through Rate">CTR</th>
									<th title="Name of the Campaign">Campaign</th>
									<th title="Duration at which message is sent">Sent Time</th>
									<th ng-if="!reseller" title="A/B Test conducted">A/B Test</th>
								</tr>
								<tr ng-hide="result" ng-repeat="obj in stats | startFrom:(pagination.bigCurrentPage-1)*pagination.itemsPerPage | limitTo:pagination.itemsPerPage | orderBy:timeStamp:true">
									<td class="capitalize">{{obj.title}}</td>
									<td>{{obj.clickDelivery}}</td>
									<td>{{obj.trackDelivery }}</td>
									<td>{{obj.sentToTotalUsers}}</td>
									<!--<td>{{obj.group}}</td>-->
									<td><span ng-repeat="grp in obj.group " class="capitalize">{{grp.name}}<span ng-if="$index+1!==obj.group.length">,</span></span>
									</td>
									<td>{{obj.conversionRate | number: 2}} %</td>
									<td class="capitalize" ng-class="{'text-center':!obj.campaignId}">
										<a href='/tool/#/dashboard/campaign-details?campId={{obj.campaignId}}' class="capitalize" ng-if="obj.campaignId">{{obj.Ctitle}}</a>
										<i class="fa fa-times icon-red" ng-if="!obj.campaignId" aria-hidden="true"></i>
									</td>
									<td>{{obj.timeStamp | date:'MMM dd (hh:mm a)'}}</td>
									<td ng-if="!reseller" class="text-center">
										<a href="/tool/#/dashboard/ab-test-details?testId={{obj.testId}}" ng-if="obj.testId">
											<i class="fa fa-check" aria-hidden="true"></i>
										</a>
										<i class="fa fa-times icon-red" ng-if="!obj.testId" aria-hidden="true"></i>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="text-center" uib-collapse="!result">
							<p class="phd-callout callout-danger">{{msg}}</p>
						</div>
						<div class="text-center">
							<uib-pagination ng-hide="result" total-items="pagination.bigTotalItems" ng-change="pageChanged()" ng-model="pagination.bigCurrentPage"
								max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" next-text="&rArr;" previous-text="&lArr;"></uib-pagination>
						</div>
					</div>
					<div>

					</div>
				</rd-widget-body>
			</rd-widget>
		</div>
	</div>
</div>