<!--<div ng-show="authData" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>-->
    <rd-loading></rd-loading>
    
    
             <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
                        <div class="phd-card">
                            <p  class="phd-callout callout-danger">
                                <span ng-bind-html="phd_errorMsg | sanitize"></span>
                            </p>
                        </div>
                    </div>


            <div class="row" ng-show="!phd_error">
                <div class="">
                    <div class="col-xs-12 m-b-2">
                            <div class="phd-btn-container" style="padding-right:15px;">
                                <a href="#/dashboard/create-ab-test" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Create A/B Test</a>
                            </div>
                    </div>
                    <div class="col-xs-12">
                        <rd-widget>
                            <rd-widget-header icon="fa-eye" title="View A/B Test">
                            </rd-widget-header>
                            <rd-widget-body>
                                <div class="table-responsive" uib-collapse="msg.failure">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Name</th>
                                                <th class="text-center" colspan="2">Submitted At</th>
                                                <!--<th class="text-center">Status</th>-->
                                                <th class="text-center">View</th>
                                            </tr>
                                            <tr ng-repeat="test in tests | startFrom:(pagination.bigCurrentPage-1)*pagination.itemsPerPage | limitTo:pagination.itemsPerPage" class="text-center">
                                                <td class="capitalize">{{test.details.name}}</td>
                                                <td>{{test.details.timeStamp | date:'MMM dd'}}</td>
                                                <td>{{test.details.timeStamp | date:'hh:mm a'}}</td>
                                                <!--<td>{{test.details.status}}</td>-->
                                                <td class="text-center">
                                                    <a href="#/dashboard/ab-test-details?testId={{test.$id}}" ng-if="test.$id">
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </a>
                                                    <i class="fa fa-times icon-red" ng-if="!test.$id" aria-hidden="true"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-messages="msg" class="text-center">
                                    <p ng-message="failure" class="phd-callout callout-danger">
                                        <span ng-bind-html="noAB | sanitize"></span>
                                    </p>
                                </div>
                                <div class="text-center">
                                    <nav>
                                        <uib-pagination ng-hide="result" items-per-page="pagination.itemsPerPage" total-items="pagination.bigTotalItems" ng-change="pageChanged()" ng-model="pagination.bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" next-text="&rArr;"
                                            previous-text="&lArr;"></uib-pagination>
                                    </nav>
                                </div>
                            </rd-widget-body>
                        </rd-widget>
                    </div>

                </div>
            </div>

        