<!--<div ng-show="authData" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>-->
   
    <rd-loading></rd-loading>
   
 <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
                        <div class="phd-card">
                            <p  class="phd-callout callout-danger">
                                <span ng-bind-html="phd_errorMsg | sanitize"></span>
                            </p>
                        </div>
                    </div>
            
            <div class="row"  ng-show="!phd_error">
                <div class="">
                    <div class="phd-msg-container" ng-show="result">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="phd-card p-a-0">
                                    <div class="phd-card-body">
                                        <div  class="phd-callout callout-success phd-card-msg m-a-0">
                                            <i class="fa fa-file fa-3x" aria-hidden="true"></i>
                                            <p style="padding-left:10px">{{msg}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 m-b-2">
                                <div class="phd-btn-container" style="padding-right:15px;">
                                    <button type="button" ui-sref="dashboard.segments" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> New Segment</button>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <rd-widget>
                                <rd-widget-header icon="fa fa-users" title="Segments">
                                </rd-widget-header>
                                <rd-widget-body>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Type</th>
                                                    <th>SubType</th>
                                                </tr>
                                                <tr ng-repeat="s in segments | startFrom:(pagination.bigCurrentPage-1)*pagination.itemsPerPage | limitTo:pagination.itemsPerPage">
                                                    <td class="capitalize">{{s.segmentName}}</td>
                                                    <td class="capitalize">{{s.type}}</td>
                                                    <td class="capitalize">{{s.subType}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center">
                                            <nav>
                                                <uib-pagination ng-hide="result" items-per-page="pagination.itemsPerPage" total-items="pagination.bigTotalItems" ng-change="pageChanged()" ng-model="pagination.bigCurrentPage" max-size="maxSize" class="pagination-sm"
                                                 next-text="&rArr;" previous-text="&lArr;"  boundary-link-numbers="true"></uib-pagination>
                                            </nav>
                                        </div>
                                    </div>
                                </rd-widget-body>
                            </rd-widget>
                        </div>
                    </div>

                </div>
            </div>
       