<div id="sidebar-wrapper">
  <ul class="sidebar  ng-cloak">
    <li class="sidebar-main">
      <a ng-click="toggleSidebar()">
        <img src= {{logo}} class="logo-ninja" alt="Widely Progressive Web App tool"></img>
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <li class="sidebar-list">
    </li>
    <li class="sidebar-list">
      <a href="#/dashboard/home">Dashboard <span class=" menu-icon fa fa-home" aria-hidden="true"></span></a>
    </li>
    <li class="sidebar-list">
      <a href="#/dashboard/customization">Customize<span class=" menu-icon fa fa-cogs" aria-hidden="true"></span></a>
    </li>
    <li class="sidebar-list">
      <a href ng-click="m1=!m1">Actions <span class="menu-icon fa action" ng-class="{'fa-caret-right':!m1,'fa-caret-down':m1}" aria-hidden="true"></span></a>
    </li>
    <ul class="subSidebar" uib-collapse="!m1">
      <li class="sidebar-list">
        <a href="#/dashboard/campaigns">Campaigns <span class="menu-icon fa fa-bullhorn"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#/dashboard/send-push-notification">Send Push Notification <span class="menu-icon fa fa-comment-o"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#/dashboard/sent-push-messages">Sent Push Messages <span class="menu-icon fa fa-paper-plane-o"></span></a>
      </li>


      <li class="sidebar-list" ng-if="!reseller">
        <a href="#/dashboard/ab-split-testing">A/B Split Testing <span class="menu-icon fa fa-wrench"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#/dashboard/subscriber-segments">Subscriber Segments <span class="menu-icon fa fa-users"></span></a>
      </li>
      <li class="sidebar-list">
        <a href="#/dashboard/set-welcome-message">Set Welcome Message <span class="menu-icon fa fa-envelope"></span></a>
      </li>
    </ul>
    <div>
      <li class="sidebar-list">
        <a href ng-click="m2=!m2">Impressions <span>(&beta;)</span><span class="menu-icon fa impressions" ng-class="{'fa-caret-right':!m2,'fa-caret-down':m2}" aria-hidden="true"></span></a>
      </li>
      <ul class="subSidebar" uib-collapse="!m2">
        <li class="sidebar-list">
          <a href="#/dashboard/overview-impression">Overview<span class="menu-icon fa fa-sellsy">
          </span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/dashboard/subscribers-impression">Subscribers<span class="menu-icon fa fa-user-plus"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/dashboard/segments-impression">Segments <span class="menu-icon fa  fa-sitemap"></span></a>
        </li>
      </ul>
    </div>

  </ul>

  <div class="sidebar-footer" ng-if="!reseller">
    <a href="/support" target="_blank" title="Support/Help">
      <i class="fa fa-question-circle fa-2x" aria-hidden="true" style="color:white"></i>
</a>
</div>
</div>