<div ui-view="headbar"></div>
<div id="register">
  <div class="container">
    <div class="row phd-flex center column full">
      <div class="col-xs-12 col-sm-6 col-md-6  col-lg-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 rd-form text-center m-t-2">
        <h2>Thanks for showing interest in us!</h2>
        <hr id="tempHr" />
        <h4>We are currently in our Beta</h4>
        <p>To know more about registering, <a href="/inquire">send in your queries</a></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6  col-lg-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3  p-a-0 m-b-3">
        <p class="white sm">
          Already have an account?<a href="#/"> Login</a></p>
      </div>
    </div>
  </div>
</div>