<!--<div ng-show="authData" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>-->
   
    <rd-loading></rd-loading>
   

            <div class="row">
                 <div class="" >
                <div class="col-xs-12 col-md-6">
                    <div class="phd-card">
                       <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options" 
                        chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
                    </div> 
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="phd-card">
                       <canvas id="doughnut" class="chart chart-doughnut"
                        chart-data="dataDoughnut" chart-labels="labelsDoughnut">
                        </canvas> 
                    </div> 
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="phd-card">
                       <canvas id="pie" class="chart chart-pie"
                        chart-data="dataDoughnut" chart-labels="labelsDoughnut" chart-options="options">
                        </canvas> 
                    </div> 
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="phd-card">
                       <canvas id="polar-area" class="chart chart-polar-area"
                        chart-data="datapolar" chart-labels="labelspolar" chart-options="options">
                        </canvas> 
                    </div> 
                </div>
            </div>
            </div>
    