<rd-loading></rd-loading>

<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
  <div class="phd-card">
    <p class="phd-callout callout-danger">
      <span ng-bind-html="phd_errorMsg | sanitize"></span>
    </p>
  </div>
</div>
<div class="row" ng-show="!phd_error">
  <div class="">
    <div class="text-center">
      <p ng-show="orgResult " ng-bind="orgMsg " class="phd-callout callout-success "></p>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="phd-card card-lg">
        <div class="phd-card card card-sm">
          <div class="card-header text-center m-b-1">
            <h4>User Settings </h4>
            <p class="phd-card-subtext"></p>
          </div>
        </div>
        <div class="card-block" uib-collapse="next">
          <div class="form-group ">
            <label>Name</label>
            <input type="text " ng-model="settings.userName" class="form-control " ng-required=o rgRequired placeholder="Name" required="required ">
          </div>
          <div class="form-group ">
            <label>Email</label>
            <input type="text " ng-disabled="1==1" ng-model="settings.email" class="form-control " ng-required=o rgRequired placeholder="Email "
              required="required ">
          </div>
        </div>
        <div class="text-right">
          <button type="button" title="Next" ng-click="next=!next;next1=!next1" class="btn btn-default">
                                   <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                    </button>
        </div>
        <div class="phd-card card card-sm">
          <div class="card-header text-center m-b-1">
            <h4>Password Settings</h4>
            <p class="phd-card-subtext"></p>
          </div>
        </div>
        <div class="card-block" uib-collapse="next1">
          <div class="form-group ">
            <label>Current Password </label><span class="text-danger ">*</span><input type="password" class="form-control "
              ng-model="settings.cPassword" ng-required=i sRequired placeholder="Current Password ">
          </div>
          <div class="form-group ">
            <label>New Password <span class="text-danger ">*</span></label><input type="password" ng-model="settings.nPassword"
              class="form-control " ng-change="onFieldChange() " placeholder="New password ">
          </div>
          <div class="form-group ">
            <label>Confirm Password </label><span class="text-danger ">*</span><input type="password" id="confirmPassword "
              ng-model="settings.ccPassword" ng-required=i sRequired class="form-control " placeholder="Confirm Password ">
          </div>
        </div>
        <div class="card-block">
          <div class="text-right">
            <button type="button" title="Next" ng-click="next1=!next1;next=!next" class="btn btn-default">
                                    <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                    </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="phd-btn-container m-y-3">
        <button type="submit " ng-disabled="settingsForm.$invalid " ng-click="save() " class="btn btn-default "><i class="fa fa-sign-in " aria-hidden="true "></i>&nbspSubmit</button>
      </div>
    </div>
  </div>
</div>