<!--<div ng-show="authData" id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>-->
  
    
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center " uib-collapse="!phd_error">
                        <div class="phd-card">
                            <p  class="phd-callout callout-danger">
                                <span ng-bind-html="phd_errorMsg | sanitize"></span>
                            </p>
                        </div>
                    </div>
            <div class="row" ng-show="!phd_error">
                <div class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                            <div ng-messages="msg" uib-collapse="isHide" class="phd-card text-center">
                                <p class="phd-callout callout-success" ng-message="savedSendToSub">
                                    <span ng-bind-html="savedSendTosubMsg | sanitize"></span>
                                </p>
                                <p class="phd-callout callout-danger" ng-message="savedNotToSub">
                                    <span ng-bind-html="savedNotToSubbMsg | sanitize"></span>
                                </p>
                                <p class="phd-callout callout-danger" ng-message="err">
                                    <span ng-bind-html="errMsg | sanitize"></span>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-8 col-md-offset-2">
                            <div class=" row phd-card card-lg">
                                <h4 class="phd-card-title">Welcome Message </h4>
                                <p class="phd-card-subtitle">Set a message for your subscribers!</p>
                                <rd-loading></rd-loading>
                                <div class="card-block col-xs-12 m-t-3 p-x-3">
                                    <form name="welcomeForm">
                                        <div class="form-group  ">
                                            <label>Title <span class="text-danger">* </span></label>
                                            <input type="text" maxlength="48" ng-model="welcome.title" class="form-control" placeholder="Title (48 characters max)" required="required">
                                        </div>
                                        <div class="form-group ">
                                            <label>Message <span class="text-danger">* </span></label>
                                            <input type="text" class="form-control"  maxlength="100" ng-model="welcome.message" placeholder="Message (100 characters max)" required="required">
                                        </div>
                                        <div class="form-group  ">
                                            <label>Icon URL</label>
                                            <input type="url" ng-model="welcome.defaultIconUrl" class="form-control" placeholder="Icon url start http:// or https:// and (.jpg or .png)" pattern="^https?://(?:[a-z0-9\-]+\.)+[a-z]{2,6}(?:/[^/#?]+)+\.(?:jpg|jpeg|png|PNG|JPG|JPEG)$">
                                        </div>
                                        <div class="form-group  ">
                                            <label>Launch URL</label>
                                            <input type="url" ng-model="welcome.landingUrl" class="form-control" placeholder="Landing url start with http:// or https://">
                                        </div>
                                    
                                        <div class="form-group m-t-2">
                                            <label>Active : </label>
                                            <button type="button" class="btn" ng-model="welcome.flag" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"  ng-class="{'btn--green':welcome.flag,'btn-danger':!welcome.flag}">
                                                <span ng-if="welcome.flag">Yes</span><span ng-if="!welcome.flag">No</span>
                                            </button>
                                        </div>
                                        <p ng-show="result" ng-bind="msg" class="phd-callout callout-success"></p>

                                    </form>
                                </div>
                                <div class="card-block col-xs-12 p-x-3">
                                    <div class="phd-btn-container m-b-2">
                                        <button type="submit" ng-disabled="welcomeForm.$invalid" ng-click="save()" class="btn btn-default"><i class="fa fa-folder" aria-hidden="true"></i> Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    